<!DOCTYPE html>
<html ng-app="jstext">
<head lang="en">
    <meta charset="UTF-8">
    <title>JS Text Engine</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="js/jstext.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container" ng-controller="GameController">
        <main>
            <div class="panel panel-default">
                <div class="panel-heading location">
                    <h1 ng-bind-html="location.text"></h1>
                </div>

                <div class="panel-body">
                    <div class="row location">
                        <img ng-src="{{location.image}}" class="col-md-8 col-md-offset-2">
                        <div class="col-md-2 inventory">
                            <h2>Inventory</h2>
                            <ul ng-repeat="(name, item) in inventory" class="nav nav-stacked navbar-right">
                                <li>{{name}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <ul class="log">
                            <li ng-repeat="entry in log" ng-bind-html="entry.text"></li>
                        </ul>
                    </div>

                    <div class="row">
                        <form ng-submit="command()" class="form">
                            <div class="form-group">
                                <div class="col-md-11">
                                    <input type="text" autofocus ng-model="input" class="form-control" placeholder="Write command...">
                                </div>
                                <div class="col-md-1">
                                    <input type="submit" class="btn btn-primary" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel-footer footer">
                    JS Text Adventure
                </div>
            </div>
        </main>
    </div>

</body>
</html>